<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pro.quizer.quizerexit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuestionActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="pro.quizer.quizerexit"
            android:enabled="true"
            android:exported="false"></provider>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="QuizerExitDatabase" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="
            pro.quizer.quizerexit.model.database.Item,
            pro.quizer.quizerexit.model.database.Category,
            pro.quizer.quizerexit.model.database.UserModel,
            pro.quizer.quizerexit.model.database.ActivationModel" />

    </application>

</manifest>