<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pro.quizer.quizerexit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--Функция отправки смс не используется для прохождения обычных опросов (при обычном опросе кнопка смс отсутствует в интерфейсе приложения). Смс отсылаются только в случае проведения Экзит-Пулов для обеспечения оперативной доставки до сервера результатов Экзит-Пула в случае сбоев с Интернетом.-->
    <uses-permission android:name="android.permission.SEND_SMS" />
        <application
        android:name=".CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ElementActivity"
            android:noHistory="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!--<activity-->
            <!--android:name=".activity.ElementActivity"-->
            <!--android:noHistory="false"-->
            <!--android:screenOrientation="sensorPortrait"-->
            <!--android:launchMode="singleTop"-->
            <!--android:configChanges="orientation|screenSize"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan" />-->

        <activity
            android:name=".activity.ThankYouActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="pro.quizer.quizerexit"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1a66b4bd9b82b32192103ed928793fb8b5a14062" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="QuizerExitDatabase" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />

        <meta-data
            android:name="AA_MODELS"
            android:value="
            pro.quizer.quizerexit.model.database.Item,
            pro.quizer.quizerexit.model.database.Category,
            pro.quizer.quizerexit.model.database.UserModel,
            pro.quizer.quizerexit.model.database.ElementDatabaseModel,
            pro.quizer.quizerexit.model.database.QuestionnaireDatabaseModel,
            pro.quizer.quizerexit.model.database.ActivationModel" />

        <service
            android:name=".AudioService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

    </application>

</manifest>