<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.divofmod.quizer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".sms.SMSStatusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuotaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ProjectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SendQuizzesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionnaireActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ContactActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PassportBlockActivity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="50ad9a580199fa1709ff92b06b9d6f23625107c9"
            />

    </application>

</manifest>